/* Шрифт "Lato" */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

/* Контент */
body {
  font-family: "Lato", sans-serif;
  line-height: 1.6;
  color: #424551;
}
.container {
  max-width: 810px;
  margin: 0 auto;
}

/* online-course */
/* .online-course {
  margin: 0 0 50px 0;
  padding: 30px 0 0 0;
}
.title {
  font-size: 46px;
  font-weight: 900;
  line-height: 1.3;
  color: #1E212C;
}
.online-course__title {
  margin: 0 0 26px 0;
}
.online-course__time {
  color: #787A80;
  margin: 0 0 40px 0;
}
.online-course__text_5 {
  display: inline-block;
  margin: 0 24px 0 0;
  background: url('../img/figma/001.png') 0 3px no-repeat;
  padding: 0 0 0 25px;
}
.online-course__text_6 {
  display: inline-block;
  background: url('../img/figma/002.png') 0 3px no-repeat;
  padding: 0 0 0 25px;
}
.online-course__image {
  margin: 0 0 60px 0;
}
.online-course__image img {
  width: 100%;
}
.online-course__subtitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  color: #1E212C;
  margin: 0 0 24px 0;
}
.online-course__text_1 {
  margin: 0 0 30px 0;
}
.online-course__text_2 {
  margin: 0 0 48px 0;
}
.online-course__citation {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  color: #1E212C;
  margin: 0 0 48px 0;
  padding: 0 0 0 58px;
  background: url('../img/figma/003.png') no-repeat;
}
.online-course__text_3 {
  margin: 0 0 24px 0;
}
.online-course__list {
  margin: 0 0 24px 0;
}
.online-course__list li {
  background: url('../img/figma/004.png') 0 3px no-repeat;
  padding: 0 0 0 32px;
}
.course-course__list li:not(:last-child) {
  margin: 0 0 4px 0;
} */

/* course-more */
.course-more {
  padding: 40px 0 0 0;
  margin: 0 0 40px 0;
}
.course-more__subtitle {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 0 8px 0;
}
.course-more__title {
  font-size: 46px;
  font-weight: 900;
  line-height: 1.3;
  color: #1E212C;
  margin: 0 0 40px 0;
}
.course-more__list {
  margin: 0 0 22px 0;
}
.course-more__list li:not(:last-child) {
  margin: 0 0 12px 0;
}
.course-more__list li::before{
  content: "";
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: 0 16px 0 0;
  background: url('../img/figma/004.png');
}
.course-more__link {
  display: inline-block;
  font-size: 14px;
  color: #FFFFFF;
  background-color: #FF3F3A;
  padding: 9px 32px 9px 32px;
  border-radius: 4px;
  margin: 0 0 30px 0;
}

.course-more_maple {
  font-family: "Taviraj", serif;
  font-size: 36px;
  line-height: 1.1;
  color: #333333;
}
.course-more_maple::after {
  content: "";
  display: block;
  width: 8%;
  height: 1px;
  background: #333333;
  margin: 8px 0 0 0;
}
